# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain
::1         localhost localhost.localdomain

192.168.7.150 project.local

{% for item in play_hosts %}
{{ item }} {{ hostvars[item].host_name }}
{% endfor %}